*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Barlow', sans-serif; 
	background-color: #2B2B2B;
	text-align:center;
	color:#CA7B35;
}

/* Sección Uno */

#uno{
	height:100vh
}
.centext{
	height:20vh;
	margin-top:35vh;
}

.centext h1{
	font-size: 12vh;
	font-weight: 300;
}



/*Sección Dos*/

#dos{
	height:100vh;
	
}

#dos p{
	font-size: 8vh;
	font-weight: 200;
}

.container{
	width:80%;

}

#dos hr{
	color:#fff;
	width: 80vh;
}

#soyelmapa{
	height: 20vh;
}

#img-box{
	height: 30vh;
}

#img1{
  background-image:url(../images/Tacos 700x420.jpg);
  background-size: cover; 
}

#img2{

}

#img3{

}