*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Barlow', sans-serif; 
	background-color: #414142;
	background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%232b2b2b' fill-opacity='0.33' fill-rule='evenodd'/%3E%3C/svg%3E");
	text-align:center;
	color:#CA7B35;
}

/*Modales*/


#myModal p {
	color:#fff;
}

#myModal .close {
	color:#fff;
}

#myModal .btn-primary{
	background-color: #CA7B35;
}

/* Sección Uno */

.uno{
	width: 100%;
	height:100vh;
}
.centext{
	height:20vh;
	margin-top:35vh;
}

.centext h1{
	font-size: 5vh;
	font-weight: 300;
}

.loader{
	border: 1em solid #7E7D7D;
	border-radius: 50%;
	border-top: 1em solid #CA7B35;
	width: 15vh;
	height:15vh;
	animation: spin 500ms linear infinite;
	align-self: center;
	margin-left: 20vh;
}
 
  @keyframes spin {
  	0% { transfrom: rotate(0deg); }
  	100% { transform: rotate(360deg); }
  }




/*Sección Dos*/

.dos{
	height:100vh;
	display:none;
	
}

.subtitle {
	font-size: 8vh;
	font-weight: 200;
}

.dos hr{
	color:#fff;
}

#soyelmapa{
	height: 25vh;
	align-self: center;
}



.img-shape{
	height:15vh;
	width: 15vh;
	border-radius: 10%;
  margin: 1vh;
}

.itfood-over{
	
    width: 15vh;
    height: 15vh;
    background-color: #000;
    color: #CA7B35;
    text-align: center;
    z-index: 1;
    opacity: 0.5;
    position: fixed;
    top: 0.5em;
    display:none;
}

p.text-food {
	font-size: 1.5em;
}

#mymodal{
	background-color: #FFF;
}
